doctype html
html
  head
    title= 'Report creator'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p.title The statistics
      span="  (the data is available since November 1st, 2017)"
    block content
    block scripts